<span class="copyright_block">&copy; 2023{% if 2023 < 'now'|date('Y') %} {{ '- ' ~ 'now'|date('Y') }} {% endif %}
    {{ 'all_rights_reserved'|trans }}. <a href="{{ path('app_web_post_list') }}" class="item">social-network.ua</a>
</span>