{% for message in messages %}
    <div class="uk-card uk-card-default uk-card-small uk-margin-small">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                {{ render(controller('App\\Controller\\Web\\MessageController::userOfMessage',{ 'idUser' : message.sender.id, 'messageCreatedAt': message.createdAt})) }}

                {% if app.user == message.sender %}
                    {{ include('web/message/modeView/menu.html.twig',{'uuid':message.uuid}) }}
                {% endif %}
            </div>
        </div>
        <div class="uk-card uk-card-body">
            <div class="st-post-fd st-post-fd--text">
                <p>{{message.message}}</p>
            </div>
        </div>
    </div>
{% endfor %}