{% extends "Layout/layout-default.html.twig" %}

{% block title %}Followers {% if user is not null %}| {{ user.firstName }} {{ user.lastName }}{% endif %}{% endblock %}
{% block main %}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            {% for follower in followers %}
                {{ render(controller('App\\Controller\\Web\\FriendController::friendUserInfo',{ 'idUser' : follower.user.id })) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}