{% extends "Layout/layout-default.html.twig" %}

{% block title %}Following {% if user is not null %}| {{ user.firstName }} {{ user.lastName }}{% endif %}{% endblock %}
{% block main %}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            {% for following in followings %}
                {{ render(controller('App\\Controller\\Web\\FriendController::friendUserInfo',{ 'idUser' : following.friend.id })) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}