<div class="center">
        <a href="{{ path('web_dialogue_followings_list') }}">
                <button type="submit" class="btn btn-primary">{{ 'new_dialogue'|trans|raw }}</button>
        </a>
</div>
{% for dialogue in dialogues %}
        {{ include('web/dialogue/modeView/full.html.twig',{'dialogue':dialogue, 'user': (dialogue.creator == user ? dialogue.receiver : dialogue.creator)}) }}
{% endfor %}